<link rel="stylesheet" href="/css/welcome.css">
<div class="welcome_wrapper">
    <p class="welcome__title">Welcome to join E-market!</p>
    <p class="welcome__mess">
        <string>Hello {{name}}</string>, Thanks to join our website.
        Now we are 10% sale <a href="/products/promotion">promotion</a> on a lot of products,
        and there are a lot of nice products.
        please enjoy shopping in our website.
    </p>
</div>