.add_product_wrapper {
  margin: 15px;
}
.add_product_wrapper > h1 {
  font-size: 2em;
}
.adding_form {
  margin: 0 auto;
  padding: 20px 0;
}

.adding_form label {
  display: inline-block;
  font-size: 1.3em;
  width: 150px;
  text-align: center;
  line-height: 1.3em;
}

.adding_form input {
  line-height: 1.3em;
  height: 20px;
  width: 300px;
  border: 1.3px solid black;
  background-color: rgba(101, 98, 98, 0.041);
}

#fileupload {
  border: none;
  align-items: center;
  background: none;
}
.adding_form button {
  display: block;
  margin-left: 200px;
  width: 200px;
  height: 25px;
  border-radius: 5px;
  background-color: rgba(243, 195, 63, 0.39);
}
@media only screen and (max-width: 500px) {
  .adding_form input {
    width: 100%;
  }

  #adding_form_desc {
    top: 0;
  }
  .adding_form label {
    display: block;
    width: 100%;
    text-align: center;
  }
  .adding_form button {
    margin: 0 auto;
  }
}
